/* Font for printing */
@font-face {
    font-family: 'Flicker DEMO';
    src: url("fonts/FlickerDEMO.woff2") format('woff2'), url("fonts/FlickerDEMO.woff") format('woff');
    font-style: normal;
}

/* Text styles */

html {
    font-size: calc(1em + 0.33vw);
    font-family: Arial, Helvetica Neue, sans-serif;
    line-height: 1.5;
    color: #111;
    background-color: #fefefe;
}

h1,
h2,
h3,
h4 {
    font-family: Flicker DEMO, sans-serif;
    line-height: 1.125;
}
h1 {
    font-size: 2rem;
    color: Red;
}
h2 {
    font-size: 1.66rem;
}
h3 {
    font-size: 1.25rem;
}
