/** Setting margins */       

.intro-and-nav {
    display: none;
}

body > footer {
    display: none;
}

#main > * {
    display: none;
}

#main > h1 {
    display: block;
}


#resultat, #resultat > * {
    display: block;
    /* top: 2 cm; */
}

#logo-greve-impression {
    padding: 1cm;
    display: block;
}

#impression > * {
    display: none;
}

