#resultat {
    display: none;
}

#autre {
    display: none;
}

#debutCarriere {
    display: none;
}

#contractuel {
    display: none;
}

#echelonEleve  {
    display: none;
}

#scenarios  {
    display: none;
}

#menuEchelon {
    display: none;
}

#calcul {
    display: none;
}

#aAfficher {
    display: none; 
}