#resultat {
    display: none;
    /* top: 2 cm; */
}

#autre {
    display: none;
    /* top: 2 cm; */
}

#debutCarriere {
    display: none;
    /* top: 2 cm; */
}

#contractuel {
    display: none;
    /* top: 2 cm; */
}

#echelonEleve  {
    display: none;
    /* top: 2 cm; */
}

#scenarios  {
    display: none;
    /* top: 2 cm; */
}

#menuEchelon {
    display: none;
}

#calcul {
    display: none;
}